<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="refresh" content="3">
	<title>LeaderBoard</title>
	<LINK rel="stylesheet" type="text/css" href=../static/style.css }}">
	<meta name="viewport"  http-equiv="refresh" content="20" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="image-grid">
		<div id="image"></div>
		<div id="container">
			<div id="Leaderboard">

					<table style="table-layout:fixed;" class="gridtable" id="Select-b" style="font-size: 20px auto; ">
						<tr>
							<th >Name</th>
							<th>Score</th>
						</tr>
						{% for key, value in SCORES.items() %}
						<tr>
							<td id="wrapkey" title="{{ key }}"> {{ key }} </td>
							<td id="wrapvalue"align="center"> {{ value }} </td>
						</tr>
						{% endfor %}
					</table>
				
			</div>
		</div>
	</div>
<body>
</html>
