body {
	margin: 0;
	background-color: #000000;
}

.image-grid {
	--gap: 12px;
	--num-cols: 2;
	--row-height: 1024px auto;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>div {
	width: 97%;
	height: 99%;
	object-fit: cover;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

#container {
	height: 1024px autpo;
	width: 640px auto ;
	margin: 20px;
	box-shadow: 0 0 3px #FFFFFF;
	border-radius: 30px;
	background-color: transparent;
	-webkit-border-radius: 20px auto;
	-moz-border-radius: 20px auto;
	overflow: auto;
	display: block;
}
#container::-webkit-scrollbar { 
    display: none; 
}

img {
	scale: 50%;
    position: static; /* positions the image relative to the container */
    bottom: 0; /* aligns the bottom edge of the image with the bottom edge of the container */
    left: 0; /* aligns the left edge of the image with the left edge of the container */
}

#image {
	background-image: URL(background2.jpg);
	background-size: contain;
    background-repeat: no-repeat;
	background-position: center; 
	height: 1024px auto;
	width: 640px auto;
	margin: 20px auto;
	box-shadow: 0 0 3px #000000;
	border-radius: 30px;
	-webkit-border-radius: 20px auto;
	-moz-border-radius: 20px auto;
}
	

table {
    height: 100%;
	width: 97%;
	margin: auto;
	overflow: hidden;
	box-shadow: 0 0 3px #000000;
}


table.gridtable {
	
	font-family: tahoma;
	line-height:15px auto;
	font-size:22px auto;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	
}
table.gridtable th {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	color:#FFFFFF;
	background-color: #663399
	
}
table.gridtable td {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: transparent;
	
}

#wrapkey {
	align-items: left;
	white-space: nowrap;
	overflow: hidden;
	width: 50px auto;
	height: 40px;
	color: white;
	font-family: Garamond;
	text-shadow: 8px 8px 22px #00EEFF;
	font-size:30px;
	font-weight: bold;
	text-overflow: ellipsis; 
}

#wrapvalue {
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	width: 30px auto;
	height: 40px;
	color: white;
	font-family: Garamond;
	text-shadow: 8px 8px 22px #00EFFF;
	font-size:30px;
	font-weight: bold;
	text-overflow: ellipsis; 
}

#score {
	display: flex;
	justify-content: center;
	align-items: left-side;
	font-size: 15px;
    margin: 0;
}

#Leaderboard {
	height: 340px auto;
	width: 300px auto;
	margin: 20px auto;
}


#cover-image {
    background:URL('background.jpg');
    background-size: 100% 100%;
}


/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 1;
		--row-height: 1024px auto;
	}
}